app = "vercel-cable"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  image = "anycable/anycable-go:1.4"

[env]
  PORT = "8080"
  ANYCABLE_BROKER = "memory"
  # ANYCABLE_HTTP_BROADCAST_SECRET = "" # set via secrets
  # ANYCABLE_RPC_HOST = "" # set via secrets
  # ANYCABLE_DEBUG = "true" # uncomment to enable debug logging

  # ADVANCED: enable NATS broker for multi-node setup (NOTE: at least 3 nodes are required)
  # ANYCABLE_BROKER = "nats"

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  # ADVANCED: Configure the size of the cluster when using NATS-based broker
  # auto_stop_machines = true
  # auto_start_machines = true
  # min_machines_running = 3

  [services.concurrency]
    hard_limit = 10000
    soft_limit = 10000
    type = "connections"

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
